<p>
  <a href="<%= url_for :controller => 'about' %>">About</a>
| <a href="<%= url_for :controller => 'theory' %>">Theory</a>
| &copy; <%= Time.now.strftime("%Y") %> Jeff Barriault - All Rights Reserved
| <a href="<%= url_for :controller => 'webservice' %>">Webservice</a> - put tides on your site.
</p>
