<h2>About</h2>

<p>
    This website is powered by <a href="http://www.rubyonrails.org/">Ruby on 
    Rails</a>, with hosting provided by <a href="http://www.textdrive.com/">TextDrive</a>.
</p>

<p>Credits:</p>
<ul>
    <li><a href="http://www.flaterco.com/xtide/">XTide: Harmonic tide clock and tide predictor</a></li>
    <li><a href="http://www.google.com/apis/maps/">Google Maps API</a></li>
    <li><a href="http://googlemapsbook.com/">Beginning Google Maps Applications</a></li>
    <li><a href="http://www.imagemagick.org/RMagick/doc/">RMagick - Ruby + ImageMagick</a></li>
    <li><a href="http://tzinfo.rubyforge.org/">TZInfo - Ruby Timezone Library</a></li>
    <li><a href="http://icant.co.uk/csstablegallery/">CSS Table Gallery</a></li>
    <li><a href="http://www.famfamfam.com/lab/icons/silk/">Silk Icons</a></li>
</ul>

<p>Feel free to <%= mail_to "jeff@barriault.net", "email me", :encode => "javascript" %> with your comments, questions, or feedback.</p>

