<p>For today's solunar, fishing, and tide predicitions select a location from
the map below. Zoom in to see more locations. Results will be displayed in
a new browser window.</p>

<div id="map_div"></div>

<p style="text-align: center;"><%= image_tag("flag_red.png") %> - REF Station,
   <%= image_tag("flag_green.png") %> - SUB Station, 
   <%= image_tag("zoom_in.png") %> - Click to Show More Locations</p>
