<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
    <title>Prime Fishing Times - What tide is it?</title>
    <meta name="description" content="Solunar, tide, and fishing predictions.">
    <meta name="Keywords" content="solunar, tide, fishing, boating">
    <%= stylesheet_link_tag 'stylesheet' %>
</head>
    
<body>
<div id="container">

<div id="header">
<%= render :partial => 'shared/header' %>
</div>

<div id="topbanner">
<%= render :partial => 'shared/topbanner' %>
</div> <!-- topbanner -->

<div id="wrapper">
<div id="content">
<%= @content_for_layout %>        
</div> <!-- content -->
</div> <!-- wrapper -->

<div id="sidebar1"></div>
<div id="sidebar2"></div>

<div id="footer">
<%= render :partial => 'shared/footer' %>
</div> <!-- footer -->

</div> <!-- container -->

</body>
    
</html>